@charset 'UTF-8';
.mark_approved {
  background: url(/images/approved.png);
}
.mark_container {
  position: relative;
}
.mark_status {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  z-index:1;
}