@charset 'UTF-8';
.mark_approved {
  background: url(/images/approved.png);
}
.mark_approved_autumn {
  background: url(/images/approved_autumn.png);
}
.mark_approved_summer {
  background: url(/images/approved_summer.png);
}
.mark_approved_spring {
  background: url(/images/approved_spring.png);
}
.mark_container {
  position: relative;
}
.mark_status {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  z-index:1;
}